:root {
  --saturday--color: #3107ff;
  --active--color: #ed3109;
  --hover--color: #fd713a;
  --end--color: #fc3d13;
  --start--color: #ffbe98;
  --selected--color: #fc3d13;
}
.react-calendar {
  width: 100%;
  background: white;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 3rem;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  min-width: 2rem;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__days button {
  aspect-ratio: 1;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75rem;
  font-weight: bold;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75rem;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend.saturday {
  color: var(--saturday--color);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  position: relative;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover {
  background-color: #e6e6e6;
}

/* .react-calendar__tile--hasActive {
  background: var(--active--color);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--hover--color);
  } 
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
  }
  
  */
.react-calendar__tile--active {
  background: transparent;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.events {
  position: absolute;
  width: 25%;
  max-width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ddd;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.react-calendar__tile--active {
  background-color: #fff4ed;
}

.selectedDate {
  background-color: var(--selected--color);
}

.react-calendar__tile--rangeStart {
  background-color: var(--start--color);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.react-calendar__tile--rangeEnd {
  background-color: var(--end--color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.react-calendar__tile--rangeBothEnds {
  background-color: var(--start--color);
  border-radius: 0;
}
